*

!*/
!.gitignore
!README.md
!LINQ_exercises/**
!DesignPatterns/**

.idea/
*.sln.iml
.idea/


[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json
artifacts/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

project.lock.json
project.fragment.lock.json
artifacts/

.idea/

*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db